.section-testmonials {
  font-family: Poppins;
  display: flex;
  gap: 20px;
  align-items: center;
}

.column-testmonials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-details {
  border-left: 10px solid #FFCB00;
  padding-left: 20px;
}

.name-section {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  color: #650061;
  line-height: 1.2em;
  margin: 0;
}

.title-section b {
  color: #650061;
}

.title-section {
  color: #000;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.navigation-testmonials {
  display: flex;
  gap: 10px;
}

.swiper-testmonials {
  overflow: hidden;
  position: relative;
}

.swiper-button-testmonials-next,
.swiper-button-testmonials-prev {
  cursor: pointer;
}

/* SLIDES */

.swiper-testmonials .swiper-slide {
  border-radius: 10px;
  background: linear-gradient(118deg, #7C1A78 10.88%, #43044A 83.88%);
  display: flex;
  padding: 30px;
  flex-direction: column;
  gap: 20px;

  transform: scale(0.9);
  filter: blur(1px) grayscale(0.5);
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

.swiper-slide{
    height: 18rem;
}

/* ACTIVE SLIDE */

.swiper-testmonials .swiper-slide-active {
  transform: scale(1);
  filter: blur(0);
}

/* CARD STRUCTURE */

.card-slide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-slide {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title-slide h4 {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
}

.title-slide h6 {
  color: #FFCB00;
  font-size: 14px;
  font-weight: 500;
}

/* RESPONSIVE */

/* TABLET + MOBILE BUTTON POSITION */

@media (max-width: 1024px) {

  .section-testmonials {
    flex-direction: column;
    align-items: stretch;
  }

  .column-testmonials {
    width: 100%;
  }

  .swiper-testmonials {
    width: 100%;
  }

  .navigation-testmonials {
    order: 3;
    justify-content: center;
    margin-top: 20px;
  }

}